body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.web-logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.web-logo-part {
  color: #2e2f42;
}

.web-navi {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.web-navi:hover,
.web-navi:focus {
  color: #404bbf;
}
.web-adress-section {
  font-style: normal;
}
.web-address {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.web-address:hover,
.web-address:focus {
  color: #404bbf;
}

/* section */
.main-page {
  background-color: #2e2f42;
}
.main-page-title {
  font-weight: 700;
  font-size: 56px;

  /* line-height: 60px; */
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.main-page-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}
.main-page-btn:hover,
:focus {
  background: #404bbf;
  cursor: pointer;
}
.skills-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.skills-title-descr {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* our team */
.our-team-sect {
  background-color: #f4f4fd;
}
.team {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-list {
  background-color: #ffffff;
}
.team-member {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-member-prof {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* portfolio */

.portfolio {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-title-descr {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* footer */
.footer-box {
  background-color: #2e2f42;
}
.footer-descr {
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.web-logo-footer {
  color: #f4f4fd;
}
