body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* reset */
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* common */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.web-navi-section {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.web-logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.web-logo-part {
  color: #2e2f42;
}

.web-navi {
  font-weight: 500;
  font-size: 16px;
  padding: 24px 0;
  display: block;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.web-navi:hover,
.web-navi:focus {
  color: #404bbf;
}
.web-adress-section {
  font-style: normal;
  margin-left: auto;
}
.web-address {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.web-address:hover,
.web-address:focus {
  color: #404bbf;
}
img {
  display: block;
}

/* section */
.main-page {
  background-color: #2e2f42;
  padding: 188px 0;
}
.main-page-title {
  font-weight: 700;
  font-size: 56px;

  /* line-height: 60px; */
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.main-page-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.main-page-btn:hover,
:focus {
  background: #404bbf;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.skills-section{
  padding: 120px 0 120px;
}
.skills-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.skills-list-sub {
  width: calc((100% - 72px) / 4);
}

.skills-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.skills-title-descr {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* our team */
.team-block-list {
  display: flex;
  align-items: center;
  gap: 24px;

}
.our-team-sect {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
}
.team-meamber-descr {
  padding-bottom: 32px;
  padding-top: 32px;
}
.team-member {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-member-prof {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* portfolio */

.portfolio {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-sect {
  padding: 120px 0 120px 0;
}

.portfolio-list-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-list-sub {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-tit {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-title-descr {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* footer */

.footer-box {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-descr {
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.web-logo-footer {
  color: #f4f4fd;
  display: inline-block;
}
.web-logo-foot {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
font-family: "Raleway", sans-serif;;

}
